body {
  background-color: rgb(0, 0, 0);
}

img {
  border-radius: 3px;
  padding: 5px;
  width: 400px;

}

.Logo img {
  float: left;
  background-blend-mode: overlay;
}

/* Add a background color to the top navigation */
.topnav {
  /*position: fixed;*/
  height: auto;
  width: 100%;
  background: linear-gradient(to right, red, blue);
  white-space: nowrap;
  overflow: auto;
  font-size: 33px;

}

/* width */
.topnav::-webkit-scrollbar {
  height: 15px;
}

/* Track */
.topnav::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
.topnav::-webkit-scrollbar-thumb {
  background: rgba(130, 0, 110, 0.35);
}

/* Handle on hover */
.topnav::-webkit-scrollbar-thumb:hover {
  background: rgba(130, 0, 110, 0.25);
}

/* Style the links inside the navigation bar */
.topnav a {
  display: inline-block;
  color: #ddd;
  text-align: justify;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17.6px;
  margin-left: 13px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgba(221, 221, 221, 0.4);
  color: rgb(130, 0, 110);
}

/*Add a color to the active/current link */
.topnav a.active {
  background-color: #ddd;
  color: rgb(130, 0, 110);
}

@media (min-width: 1000px) {
  .vid {
    float: left;
  }
}

@media (max-width: 1000px) {
  .vid {
    width: 100%;
    display: inline block;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    overflow: hidden;
  }
}

.text p {
  margin-top: 0px;
  color: white;
  text-align: center;
  font-size: 20px;
  line-height: 30px;

}

.text h1 {
  font-size: 50px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
  background: -webkit-linear-gradient(#fdf497 0%, #fdf497 5%, #fd5949 45%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: rgb(255, 255, 255);
  content: "›";
  font-size: 1.2em;
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: rgb(130, 0, 110);
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

.breadcrumblink {
  color: rgb(100, 20, 125) !important;
}

footer {
  text-align: center;
  height: 150px;
  background: linear-gradient(to right, red, blue);
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  margin-top: 20px;
  border-radius: 100%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  padding-bottom: 10px;
}

.fa-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  color: white;
  padding-bottom: 10px;
}

.fa-phone {
  background: rgb(240, 82, 82);
  color: white;
  padding-bottom: 10px;
}

.fa-envelope {
  background: #45bbff;
  color: white;
  padding-bottom: 10px;
}

footer p {
  color: white;
  font-size: 20px;
  padding-top: 2px;
}

.event {
  color: white;
  font-style: italic;
  font-size: 18px;
  float: right;
  margin-right: 0px;
  padding-right: 0px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.event img {
  width: 12%;
  height: auto;
  float: left;
}

.light-mode {
  background-image: url(../gallery/theme.jpg);
  color: rgb(0, 0, 0);
}

:root{
  --bs-dark: #212529;
}

.theme-container {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.theme-container:hover {
  opacity: 0.8;
}

.shadow-dark {
  background: linear-gradient(145deg, #23282c, #1e2125);
  box-shadow: 17px 17px 23px #1a1d20,
    -17px -17px 23px #282d32, inset 5px 5px 4px #1e2226,
    inset -5px -5px 4px #24282c;
}

.shadow-light {
  box-shadow: 7px 7px 15px -10px #bbcfda, -4px -4px 13px #ffffff,
    inset 7px 7px 3px rgba(209, 217, 230, 0.35),
    inset -11px -11px 3px rgba(255, 255, 255, 0.3)
}

@keyframes change {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.4);
  }
}

.change {
  animation-name: change;
  animation-duration: 1s;
  animation-direction: alternate;
}