body {
  background-color: rgb(0, 0, 0);
}

img {
  border-radius: 3px;
  padding: 5px;
  width: 400px;
}

.Logo img {
  float: left;
}

/* Add a background color to the top navigation */
.topnav {
  /*position: fixed;*/
  height: auto;
  width: 100%;
  background: linear-gradient(to right, red, blue);
  white-space: nowrap;
  overflow: auto;
  font-size: 33px;
}

/* width */
.topnav::-webkit-scrollbar {
  height: 15px;
}

/* Track */
.topnav::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
.topnav::-webkit-scrollbar-thumb {
  background: rgba(130, 0, 110, 0.35);
}

/* Handle on hover */
.topnav::-webkit-scrollbar-thumb:hover {
  background: rgba(130, 0, 110, 0.25);
}

/* Style the links inside the navigation bar */
.topnav a {
  display: inline-block;
  color: #ddd;
  text-align: justify;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17.6px;
  margin-left: 13px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgba(221, 221, 221, 0.4);
  color: rgb(130, 0, 110);
}

/*Add a color to the active/current link */
.topnav a.active {
  background-color: #ddd;
  color: rgb(130, 0, 110);
}

/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: rgb(0, 0, 0);
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: rgb(255, 255, 255);
  content: "›";
  font-size: 1.2em;
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: rgb(130, 0, 110);
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

.breadcrumblink {
  color: rgb(100, 20, 125) !important;
}



h1 {
  text-align: center;
  color: #ddd;
  font-size: 30px;
  border: 1px solid rgb(130, 0, 110);
  background-color: rgb(130, 0, 110, 0.5);
  padding: 10px;
  width: 1320px;
  margin-left: 75px;
  margin-top: 70px;
  margin-bottom: 30px;
}

.row {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  margin-left: 60px;
}


/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 23%;
  /* IE10 */
  flex: 23%;
  max-width: 23%;
  padding: 0 4px;

}

.column img {
  vertical-align: middle;
  width: 100%;

}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

.c {
  float: left;
  width: 18%;
  padding: 5px;
  margin-top: 20px;
  margin-left: 20px;
  padding-right: 5%;
}

/* Clear floats after image containers */
.r::after {
  content: "";
  clear: both;
  display: table;
}

.c a:link,
a:visited {

  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
  color: rgb(255, 255, 255);
  padding: 14px 25px;
  margin-left: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 60px;

}

.c a.ani:hover,
a.ani:active {
  background-image: url(../gallery/animal.jpg) !important;

}

.c a.food:hover,
a.food:active {
  background-image: url(../gallery/food.jpg) !important;

}

.c a.people:hover,
a.people:active {
  background-image: url(../gallery/people.jpg) !important;

}

.c a.city:hover,
a.city:active {
  background-image: url(../gallery/cityscape.jpg) !important;

}

@media (max-width: 1200px) {
  .r {
    flex-direction: column;
  }

  .c a:link,
  a:visited {
    font-size: 40px;
  }

  h1 {
    width: 100%;
    margin-left: 0px;
  }
}

footer {
  text-align: center;
  height: 150px;
  background: linear-gradient(to right, red, blue);
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  margin-top: 20px;
  border-radius: 100%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  padding-bottom: 10px;
}

.fa-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  color: white;
  padding-bottom: 10px;
}

.fa-phone {
  background: rgb(240, 82, 82);
  color: white;
  padding-bottom: 10px;
}

.fa-envelope {
  background: #45bbff;
  color: white;
  padding-bottom: 10px;
}

footer p {
  color: white;
  font-size: 20px;
  padding-top: 2px;
}

.event {
  color: white;
  font-style: italic;
  font-size: 18px;
  float: right;
  margin-right: 0px;
  padding-right: 0px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.event img {
  width: 12%;
  height: auto;
  float: left;
}