body {
  background-color: rgb(0, 0, 0);
}

img {
  border-radius: 3px;
  padding: 5px;
  width: 400px;
}

.Logo img {
  float: left;
}

/* Add a background color to the top navigation */
.topnav {
  /*position: fixed;*/
  height: auto;
  width: 100%;
  background: linear-gradient(to right, red, blue);
  white-space: nowrap;
  overflow: auto;
  font-size: 33px;
}

/* width */
.topnav::-webkit-scrollbar {
  height: 15px;
}

/* Track */
.topnav::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
.topnav::-webkit-scrollbar-thumb {
  background: rgba(130, 0, 110, 0.35);
}

/* Handle on hover */
.topnav::-webkit-scrollbar-thumb:hover {
  background: rgba(130, 0, 110, 0.25);
}

/* Style the links inside the navigation bar */
.topnav a {
  display: inline-block;
  color: #ddd;
  text-align: justify;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17.6px;
  margin-left: 13px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgba(221, 221, 221, 0.4);
  color: rgb(130, 0, 110);
}

/*Add a color to the active/current link */
.topnav a.active {
  background-color: #ddd;
  color: rgb(130, 0, 110);
}

/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: rgb(0, 0, 0);
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: rgb(255, 255, 255);
  content: "›";
  font-size: 1.2em;
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: rgb(130, 0, 110);
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

.breadcrumblink {
  color: rgb(100, 20, 125) !important;
}

h1 {
  padding-left: 42%;
  font-size: 50px;
  padding-bottom: 0%;
  margin-bottom: 1%;
}

h2 {
  font-size: 30px;
  padding-left: 0%;
  margin: 0%;
}

h3 {
  text-align: left;
  padding-left: 30%;
}

h1 a {
  text-decoration: none;
}

h2 a {
  color: white;
}

h3 a {
  color: rgba(68, 173, 234, 0.4);
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: rgb(0, 0, 0);
}

.flex-container>div {
  background-color: #000000;
  width: 100%;
  margin: 0px;
  text-align: center;
  font-size: 20px;
  line-height: 35px;
  margin-top: 0px;
}

.flex-container a {
  text-decoration: none;
}

h1 a:hover {
  color: yellow !important;
}

h2 a:hover {
  color: rgb(170, 2, 210) !important;
}

h3 a:hover {
  color: rgb(68, 173, 234) !important;
}

ul {
  list-style: none;
  /* Remove list bullets */
  text-decoration: none;
  padding: 0;
  margin: 0;
}

li::before {
  content: "»";
  padding-right: 4px;
}

footer {
  text-align: center;
  height: 150px;
  background: linear-gradient(to right, red, blue);
}

/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  margin-top: 20px;
  border-radius: 100%;
}

.fa:hover {
  opacity: 1;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  padding-bottom: 10px;
}

.fa-instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  color: white;
  padding-bottom: 10px;
}

.fa-phone {
  background: rgb(240, 82, 82);
  color: white;
  padding-bottom: 10px;
}

.fa-envelope {
  background: #45bbff;
  color: white;
  padding-bottom: 10px;
}

footer p {
  color: white;
  font-size: 20px;
  padding-top: 2px;
}

/*Icons*/
.fa-home {
  background: none;
  color: white;
}

.fa-camera-retro {
  background: none;
  color: white;
}

.fa-user {
  background: none;
  color: white;
}

.fa-image {
  background: none;
  color: white;
}

.fa-link {
  background: none;
  color: white;


}

#phone {
  background: none;
  color: white;
}

.fa-sitemap {
  background: none;
  color: white;
}

.fa-users {
  background: none;
  color: white;
}

@media (max-width: 1000px) {
  .flex-container {
    flex-direction: column;
  }

  h1 {
    padding-left: 0px;
    text-align: center;
    font-size: 50px;
    padding-bottom: 0%;
    margin-bottom: 1%;
  }

  h3 {
    text-align: center;
    padding-left: 0%;

  }
}

.event {
  color: white;
  font-style: italic;
  font-size: 18px;
  float: right;
  margin-right: 0px;
  padding-right: 0px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.event img {
  width: 12%;
  height: auto;
  float: left;
}

body {
  background-color: black;
}

.second-background {
  background-image: url('../gallery/theme.jpg');
}
